_Resharper*
obj
bin
docs
x64
Win32
Debug
Release
*.user
*.cache
*.opensdf
*.generated.cs
*.Resources.Designer.cs.dll
*.force
*.suo
*.sdf
*.ipch
*.aps
*.csproj.user
src/Starcounter/Error.cs
src/Starcounter.Internal/Error.cs
src/_NCrunch_Level1
src/packages
.nuget

# Generated error code files
src/Starcounter.ErrorCodes/ErrorCodeCompiler/scerrcc.exe
src/Starcounter.ErrorCodes/ErrorCodeCompiler/scerrcc.pdb
src/Starcounter.ErrorCodes/ErrorCodeCompiler/Starcounter.Errors.dll
src/Starcounter.ErrorCodes/ErrorCodeCompiler/Starcounter.Errors.pdb
src/Starcounter.ErrorCodes/scerrres/scerrres.h

# Documentation build
src/BuildSystem/Documentation/Internal/script
src/BuildSystem/Documentation/Internal/scripts
src/BuildSystem/Documentation/Internal/images
src/BuildSystem/Documentation/Internal/dotnetimages
src/BuildSystem/Documentation/Internal/stylesheets
src/BuildSystem/Documentation/Internal/flash
src/BuildSystem/Documentation/Internal/designtime
src/BuildSystem/Documentation/Internal/help
src/BuildSystem/Documentation/Public/script
src/BuildSystem/Documentation/Public/scripts
src/BuildSystem/Documentation/Public/images
src/BuildSystem/Documentation/Public/dotnetimages
src/BuildSystem/Documentation/Public/stylesheets
src/BuildSystem/Documentation/Public/flash
src/BuildSystem/Documentation/Public/designtime
src/BuildSystem/Documentation/Public/help

*.ncrunchsolution

src/Starcounter.SqlParser/Parser/gram.c
src/Starcounter.SqlParser/Parser/gram.h
src/Starcounter.SqlParser/Parser/scan.c

*.output

src/Samples/NetworkIoTest/image.png

#nCover
*.sln.DotSettings

# Weaver test artifacts
src/Samples/WeaverTests/**/.starcounter
src/Samples/WeaverTests/**/*.exe
src/Samples/WeaverTests/**/*.pdb

# Deleted
src/Starcounter/Query/prologbeans/*

#editor config
.idea
