<style>
    .status {
        border: 1px solid blue;
    }
</style>
<template>
    <template is="dom-bind">
        <h1>Replicator</h1>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="++this.value;" value="{{model.ConnectNow$::click}}">Connect Now</button>
                    </span>
                    <input type="text" readonly class="form-control" placeholder="{{model.Status}}" style="border: 1px solid lightgray; margin-left: 10px; padding-left: 10px">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

        <a href="/Replicator/settings">Settings</a>

        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
</template>