<template>
    <template is="dom-bind">
        <h1>Replicator Settings</h1>

        <starcounter-include partial="{{model.StatusPartial}}"></starcounter-include>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="databaseGuid" class="col-sm-3 control-label">This Database GUID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="databaseGuid" readonly placeholder="{{model.DatabaseGuid}}" value="{{model.DatabaseGuid}}">
                </div>
            </div>
            <div class="form-group">
                <label for="parentUri" class="col-sm-3 control-label">Parent URI</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="parentUri" placeholder="Parent URI" value="{{model.ParentUri$::change}}">
                </div>
            </div>
            <div class="form-group">
                <label for="reconnectMinimumWaitSeconds" class="col-sm-3 control-label">Reconnect Minimum Wait Seconds</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="reconnectMinimumWaitSeconds" placeholder="{{model.ReconnectMinimumWaitSeconds}}" value="{{model.ReconnectMinimumWaitSeconds$::change}}">
                </div>
            </div>
            <div class="form-group">
                <label for="reconnectMaximumWaitSeconds" class="col-sm-3 control-label">Reconnect Maximum Wait Seconds</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="reconnectMaximumWaitSeconds" placeholder="{{model.ReconnectMaximumWaitSeconds}}" value="{{model.ReconnectMaximumWaitSeconds$::change}}">
                </div>
            </div>
        </form>

        <hr />

        <a href="/Replicator">← Replicator Home</a>

        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
    </template>
</template>