<template>
    <template is="dom-bind">
        <h1>Replicator Settings</h1>

        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="++this.value;" value="{{model.ConnectNow$::click}}">Connect Now</button>
                    </span>
                    <input type="text" readonly class="form-control" placeholder="{{model.Status}}" style="border: 1px solid lightgray; margin-left: 10px; padding-left: 10px">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->

        <form class="form-horizontal">
            <div class="form-group">
                <label for="parentUri" class="col-sm-3 control-label">Parent URI</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="parentUri" placeholder="Parent URI" value="{{model.ParentUri$::change}}">
                </div>
            </div>
            <div class="form-group">
                <label for="reconnectMinimumWaitSeconds" class="col-sm-3 control-label">Reconnect Minimum Wait Seconds</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="reconnectMinimumWaitSeconds" placeholder="{{model.ReconnectMinimumWaitSeconds}}" value="{{model.ReconnectMinimumWaitSeconds$::change}}">
                </div>
            </div>
            <div class="form-group">
                <label for="reconnectMaximumWaitSeconds" class="col-sm-3 control-label">Reconnect Maximum Wait Seconds</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="reconnectMaximumWaitSeconds" placeholder="{{model.ReconnectMaximumWaitSeconds}}" value="{{model.ReconnectMaximumWaitSeconds$::change}}">
                </div>
            </div>
        </form>

        <hr />

        <a href="/Replicator">← Replicator Home</a>

        <dom-bind-notifier observed-object="{{model}}" path="model" deep></dom-bind-notifier>
</template>
</template>